/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
/* font */
* {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 20px;
}

/* margin for the whole page */
/* .wd-explore-screen{
  display: flex;
  flex-direction: column;
} */

/* .wd-row{
  clear:both;
} */

.wd-col-left {
  width: 10%;
  position: relative;
  float: left;
  top: 20px;
  left:10px;
}

.wd-col-right {
  left: 180px;
  top: 80px;
  float: left;
  width: 80%;
}


.wd-search-header {
  display: flex;
  margin: 10px;
}

.wd-search-container {
  display: flex;
  align-items: center;
  /* Align items vertically in the center */
  background-color: rgb(244, 244, 244);
  border-radius: 50px;
  /* make rounded corners */
  padding: 10px 20px 10px 16px;
  width: 90%;
}

.wd-search-icon {
  margin-right: 5px;
  width: 2%;
  float: left;
  color: rgb(152, 144, 144);
  background: transparent;
}

/* search bar */
.wd-search-bar {
  display: flex;
  /* align-items: center; */
  margin-left: 10px;
  width: 100%;
  float: right;

  /* Increase left padding to accommodate the gear icon */
  /* padding: defines the space between the content and the edges of the element's box */
  /* top: 30px;
  left: 20px; */
}

.wd-search-bar input {
  flex-grow: 1;
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 120%;
  font-family: Arial;
}

.wd-setting-icon {
  width: auto;
  /* margin: auto; */
  padding-top: 10px;
  padding-right: 5px;
  color: gray;
}

.wd-setting-icon i {
  margin-left: 20px;

}
  /* margin-left: 80px;/* Add margin to separate the search bar and gear icon  */


/* #searchbar {
  background-color: transparent;
  border: 0;
  padding-left: 16px;
  outline: none;
  font-family: Arial, sans-serif;
  border-radius: 50px;
  flex: 1; 
  /* Allow the search bar to take up remaining space 
} */


/* position the search bar on the left and the "fa-gear" icon on the right side of the search bar, */
/* settings icon */
/* .fa-gear{
  /* the white spaces separating content
  font-size: 20px;

  color: gray;
}
*/

.wd-tab-container {
  display: flex;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.wd-tabs {
  list-style-type: none;
  font-size: 18px;
  display: flex;
  margin: 0;
  /* 均匀分布 */
  justify-content: space-between;
  padding: 0px;
  border-bottom: solid 0.5px;
  width: 120%;
  color: grey;
  font-weight: bold;
  margin-left: 30px;
}

/* 不要用li */
.wd-tabs a {
  text-decoration: none;
  padding: 16px;
  color: grey;
}

/* active page */
.wd-active {
  color: rgb(46, 156, 225);
  padding-bottom: 6px;
  border-bottom: solid 3px;
  /* fontcolor: black; */
}

/* 什么时候加a？什么时候不加？ */
.wd-active a {
  color: black;
}

/* inactive page */
.wd-tab-unselected {
  display: inline;
  /* block 竖着*/
  /* By default, <li> elements are block elements. Here, we remove the line breaks before and after each list item, to display them on one line */
  float: left;
}

.wd-img-container {
  display: inline-flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* overflow: hidden; */
  position: relative;
  width: 100%;
  /* padding: 5px; */
  /* border-bottom: 1px solid rgb(236, 236, 236); */
}


/* 注意这里的大小要分开写 */
.wd-img-container img {
  width: 100%;
  object-fit: fill;
}

/* use CSS so that it renders on top of the image at the bottom left corner */
.wd-img-title {
  position: absolute;
  bottom: 5px;
  left: 15px;
  color: white;
  font-weight: bold;
  font-size: 36px;
}

/* News feed */
.wd-tweets-container ul {
  list-style-type: none;
  padding-left: 20px;
  margin: 0px;
  font-size: 140%;
}

.wd-tweets-info {
  width: 95%;
}

/* 特别重要 */
.wd-news {
  display: flex;
  margin-bottom: 30px;
}

.wd-news-tags {
  color: gray;
  font-size: 16px;
  margin-bottom: 1px;
}

.wd-news-title {
  color: black;
  margin-top: 1px;
  margin-bottom: 1px;
  font-weight: bold;
}

.wd-tweets-number {
  color: gray;
  font-size: 16px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.wd-news-icon {
  color: gray;
  font-size: 30px;
  text-decoration: none;
  float: right;
  margin-right: 10px;
  font-weight: bold;
}

/* .wd-more-tool{

} */