/* search bar */
.wd-search-bar {
    display: inline-block;
    width: calc(100% - 64px);
    background-color: lightgray;
    color: darkgray;
    border-radius: 50px;
    padding: 10px 0px 10px 0px;
}

.fa-magnifying-glass {
  background: transparent;
  color: darkgray;
  margin-left: 10px;
}

#searchbar {
  background-color: transparent;
  border: 0px;
  padding-left: 16px;
  outline: none;
}

.fa-gear {
  width: 10px;
  padding: 0px 16px 0px 32px;
}